# dependencies
node_modules/
.pnpm-store/
apps/*/node_modules/

# build outputs
apps/web-ui/dist/
apps/api/dist/
apps/mobile/web-dist/

# Expo / React Native local artifacts
apps/mobile/.expo/
apps/mobile/expo-env.d.ts
apps/api/.env
apps/api/.env.local
apps/web-ui/.env
apps/web-ui/.env.local
apps/mobile/.env
apps/mobile/.env.local

# OS files
.DS_Store
